body {
  background-image: linear-gradient(#f4f0f3, #eaf3f7);
  min-height: 100vh;
  min-width: 100vh;
  text-align: center;
  font-family: Muli;
}
@font-face {
  font-family: "Muli";
  src: local("Muli"), url(./fonts/Muli/Muli.ttf) format("opentype");
}
@font-face {
  font-family: "Muli";
  font-weight: 700;
  src: local("Muli"), url(./fonts/Muli/Muli-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Muli";
  font-weight: 700;
  font-style: italic;
  src: local("Muli"), url(./fonts/Muli/Muli-BoldItalic.ttf) format("opentype");
}

@font-face {
  font-family: "Muli";
  font-weight: 200;
  src: local("Muli"), url(./fonts/Muli/Muli-ExtraLight.ttf) format("opentype");
}
@font-face {
  font-family: "Muli";
  font-weight: 200;
  font-style: italic;
  src: local("Muli"),
    url(./fonts/Muli/Muli-ExtraLightItalic.ttf) format("opentype");
}
@font-face {
  font-family: "Muli";
  font-style: italic;
  src: local("Muli"), url(./fonts/Muli/Muli-Italic.ttf) format("opentype");
}
@font-face {
  font-family: "Muli";
  font-weight: 300;
  src: local("Muli"), url(./fonts/Muli/Muli-Light.ttf) format("opentype");
}
@font-face {
  font-family: "Muli";
  font-weight: 300;
  font-style: italic;
  src: local("Muli"), url(./fonts/Muli/Muli-LightItalic.ttf) format("opentype");
}
@font-face {
  font-family: "Muli";
  font-weight: 600;
  font-style: italic;
  src: local("Muli"),
    url(./fonts/Muli/Muli-Semi-BoldItalic.ttf) format("opentype");
}
@font-face {
  font-family: "Muli";
  font-weight: 600;
  src: local("Muli"), url(./fonts/Muli/Muli-SemiBold.ttf) format("opentype");
}

.loadingMessageWrapper {
  position: relative;
}

.loadingMessageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 72px;
}

.loadingMessage {
  font-size: 32px;
}


#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
